<a href="https://colab.research.google.com/github/hjn14133/STAT/blob/main/Coeffient_Of_Variation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('FT_join_JH_cleaned.csv')

# define function to calculate cv
cv = lambda x: np.std(x, ddof=1) / np.mean(x) * 100

In [5]:
df.head()

   OID_  FID_1  DISTANCE  SWATHWIDTH  ...    Tr   Unif  Loan_Rat Loan_Value
0   NaN   2326  7.726433   17.998688  ...  2.50  80.40     56.34     272.24
1   NaN   2893  7.857666   17.998688  ...  3.00  80.53     56.38     262.97
2   NaN   2900  7.923283   17.998688  ...  3.00  80.53     56.38     262.97
3   NaN  12062  0.919535   17.998688  ...  3.25  80.28     55.90     276.38
4   NaN   2330  7.759241   17.998688  ...  2.50  80.40     56.34     272.24

[5 rows x 39 columns]

In [10]:
fiber = df.iloc[:, 30: 38]

In [11]:
fiber.apply(cv)

Lf           5.749508
Mic          2.827349
Str          2.337990
Rd           0.920281
b            4.096179
Tr          11.219285
Unif         0.655313
Loan_Rat     0.539109
dtype: float64